name: Deploy to GCS
on:
  push:
    branches: [ "main" ]
permissions:
  contents: read
  id-token: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT_EMAIL }}
          project_id: ${{ secrets.GCP_PROJECT_ID }}
      - uses: google-github-actions/upload-cloud-storage@v3
        with:
          path: site
          destination: ${{ secrets.GCS_BUCKET_NAME }}
          parent: false
